<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmarker.blog.mapper.CommentMapper">

    <resultMap id="comment" type="com.springmarker.blog.pojo.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="word_id" jdbcType="INTEGER" property="wordId"/>
        <result column="main_comment" jdbcType="INTEGER" property="mainComment"/>
        <result column="observer_name" jdbcType="VARCHAR" property="observerName"/>
        <result column="to_observer_name" jdbcType="VARCHAR" property="toObserverName"/>
        <result column="vice_comment_main_comment_id" jdbcType="VARCHAR" property="viceCommentMainCommentId"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
    </resultMap>


</mapper>