<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmarker.blog.mapper.WordMapper">

    <resultMap id="word" type="com.springmarker.blog.bean.Word">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="permission" jdbcType="BIGINT" property="permission"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="writer" jdbcType="VARCHAR" property="writer"/>
        <result column="background_image" jdbcType="VARCHAR" property="backgroundImage"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="allow_comment" jdbcType="INTEGER" property="allowComment"/>
        <result column="html" jdbcType="VARCHAR" property="html"/>
        <result column="nick_title" jdbcType="VARCHAR" property="nickTitle"/>
    </resultMap>


    <select id="findById" resultMap="word">
        SELECT *
        from word
        where id = #{id}
    </select>


    <select id="getWordListByPermission" resultMap="word">
        SELECT *
        from word
        where permission = #{permission}
        order by date DESC
        LIMIT #{num}
        OFFSET #{start};
    </select>

    <select id="getWordByNickTitle" resultMap="word">
        SELECT *
        from word
        where nick_title = #{nickTitle}
    </select>

    <select id="getNearWordsByNickTitle" resultMap="word">
        ( SELECT * FROM word WHERE permission = 1 AND "date" &lt;  (SELECT "date" FROM word WHERE nick_title=#{nickTitle}) ORDER BY "date" DESC LIMIT 1 )
        UNION ALL
        ( SELECT * FROM word WHERE permission = 1 AND "date" = (SELECT "date" FROM word WHERE nick_title=#{nickTitle}) )
        UNION ALL
        ( SELECT * FROM word WHERE permission = 1 AND "date" &gt; (SELECT "date" FROM word WHERE nick_title=#{nickTitle}) ORDER BY "date" ASC LIMIT 1 );
    </select>



</mapper>