/* 主标题区域标题 */
.MY-mdui-card-primary-title {
    display: block;
    font-size: 18px;
    line-height: 25px;
    opacity: .87;
}

/* 主标题区域副标题 */
.MY-mdui-card-primary-subtitle {
    display: block;
    font-size: 13px;
    line-height: 20px;
    opacity: .54;
}

.MY-mdui-card-primary {
    position: relative;
    padding: 10px 10px 10px 10px;
}

.mdui-card-actions > img {
    margin: 4px 10px 5px 10px;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.mdui-card-actions > span {
    padding-top: 3px;
    padding-bottom: 5px;
    float: left;
    height: 100%;
    font-size: 14px;
    line-height: 31px;
}

.MY-card-more {
    margin-right: 10px;
    padding: 3px 0px 5px 0px;
    float: right;
    height: 100%;
    width: 40px;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    border-radius: 50%;
}

.top-card-left-text {
    padding: 10px 0 0 0;
}

.MY-card-data {

    padding: 4px 10px 4px 0px;
    float: right;
    height: 100%;
    font-size: 12px;
    line-height: 31px;
}

.mdui-card {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mdui-card-top-right {
    position: relative;
    box-sizing: border-box;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif;
    background-color: #e9ebec;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.mainTextColor {
    color: #636363;
}

.leftbar {
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 #888888;
}

.leftbar-head {
    height: 145px;
    width: 100%;
    background-size: 100%;
    position: relative;
}

.leftbar-head-tag {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    font-size: 13px;
    line-height: 12px;
    padding: 3px 4px 2px 4px;
    border-radius: 2px;
    color: #e06e55;
    background-color: #FFF;
}

.leftbar-head-img {
    height: 49px;
    margin-top: 25px;
    margin-left: 10px;
}

.draw-cdn-img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 78px 0 63px;
}

.draw-cdn-img > img {
    width: 100%;
}

.mainPage {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    min-height: 900px;
}

.word-list {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    min-height: 900px;
}

.mdui-row-margin {
    margin-top: 30px;
}

.MY-card-tilte {
    font-size: 30px;
    text-shadow: 1px 1px 5px #8c8c8c;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rippleButton {
    z-index: 1000;
    margin-top: -28px;
    margin-right: 30px;
    position: relative;
    float: right;
}

.top-card-rght-img {
    transition: 1s;
}

.top-card-rght-img:hover {
    transition: 1s;
    opacity: 0;
}

.leftbar-navi {
    transition: 0.3s;
    width: 100%;
    height: 30px;
    padding: 10px 0 0 10px;
}

.leftbar-navi:hover {
    background-color: #eeeeee;
    color: #383838;
}

.leftbar-navi-icon {
    height: 100%;
    width: 40px;
    float: left;
}

.leftbar-navi > span {
    width: 40px;
    float: left;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 25px;
}

.leftbar-navi-zhedie {
    float: right;
    margin-top: 3px;
    margin-right: 20px;
    font-size: 15px;
}

.leftbar-item {
    transition: 0.3s;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    font-size: 13px;
    letter-spacing: 2px;
    display: block;
    color: #717171;
    text-decoration: none;
}

.leftbar-item:hover {
    background-color: #eeeeee;
    color: #383838;
    text-decoration: none;
}

.leftbar-other {
    transition: 0.3s;
    width: 100%;
    height: 35px;
    display: block;
    color: #717171;
}

.leftbar-other > span {
    width: 40px;
    float: left;
    font-size: 13px;
    padding-left: 20px;
    line-height: 35px;
}

.leftbar-other > p {
    width: 40px;
    float: right;
    font-size: 13px;
    padding-left: 20px;
    line-height: 9px;
}

.leftbar-other:hover {
    background-color: #eeeeee;
    color: #383838;
}

.secondColorAndBackgroundColor {
    color: #696969;
    background-color: #ffffff;
}

.MY-card-img {
    width: 100%;
}

.MY-mdui-card-media {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden;
    display: block;
}

.top-card-left-img {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    padding-right: 20px
}

.top-card-right {
    height: 335px;
}

.card-page {
    min-height: 100px;
    padding: 10px 30px 10px 30px;
}

.MY-footer {
    height: 220px;
    margin-top: 70px;
    background-color: #2e2e2e;
    color: #e3e3e3;
}

.MY-footer a {
    color: #e3e3e3;
    text-decoration: none;
}

.MY-footer a:hover {
    color: #e3e3e3;
    text-decoration: none;
}

.footer-main {
    height: 190px;
    width: 100%;
    max-width: 1330px;
    padding: 40px 20px 20px 40px;
    box-sizing: border-box;
}

.footer-other > div {
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    height: 28px;
}

.footer-other > a {

    width: 100%;
    display: block;
    font-size: 13px;
    height: 22px;
    text-decoration: none;
}

.footer-bottom {
    font-size: 10px;
    width: 100%;
    max-width: 1330px;
    line-height: 15px;
}

.noHrefCss {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .MY-card-tilte {
        font-size: 20px;
        text-shadow: 1px 1px 9px grey;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mdui-card-content {
        position: relative;
        padding: 8px;
        font-size: 10px;
        line-height: 18px;
    }

    .mdui-card-actions > span {

        padding-top: 7px;

        float: left;
        height: 20px;
        line-height: 25px;

        font-size: 10px;
    }

    .MY-card-data {
        font-size: 10px;
    }

    .top-card-left-img {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .top-card-right {
        height: 235px;
        display: none;
    }

    .mdui-row-margin {
        margin-top: 10px;
    }

    .mdui-card-actions > img {
        margin: 8px 5px 0px 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .card-page {
        padding: 10px 5px 10px 5px;
    }

    .mdui-card-actions {
        padding: 0;
    }

    .smallNone {
        display: none;
    }

}